# =====================================
# Flask + Jinja + Blueprints + SocketIO
# =====================================

# ---- Templates Jinja ----
app/templates/**/*.html linguist-language=Jinja

# ---- Archivos estáticos ----
app/static/**/* linguist-vendored

# ---- Migraciones ----
# Código generado automáticamente
migrations/**/* linguist-generated

# ---- FFmpeg ----
# Binarios / terceros
ffmpeg/**/* linguist-vendored
ffmpeg/**/* linguist-generated

# ---- Instaladores y utilidades ----
installer/**/* linguist-vendored

# ---- Scripts auxiliares ----
*.ps1 linguist-vendored
*.bat linguist-vendored

# ---- Python es código real ----
*.py linguist-detectable=true
