{% extends "admin/base_form.html" %}

{% set page_title = 'Editar Área' if area else 'Nueva Área' %}
{% set submit_text = 'Actualizar' if area else 'Crear' %}
{% set cancel_url = url_for('admin.areas') %}

{% block form_fields %}
    <div class="form-group">
        <label for="nombre" class="form-label">Nombre del Área *</label>
        <input 
            type="text" 
            class="form-input" 
            id="nombre" 
            name="nombre" 
            value="{{ area.name if area else '' }}"
            required
            maxlength="45">
    </div>
{% endblock %}