{% extends "admin/base_form.html" %}

{% set page_title = 'Editar Trámite' if tramite else 'Nuevo Trámite' %}
{% set header_info = 'Área: ' ~ area.name %}
{% set submit_text = 'Actualizar' if tramite else 'Crear' %}
{% set cancel_url = url_for('admin.tramites', id_area=area.id_area) %}

{% block form_fields %}
    <div class="form-group">
        <label for="nombre" class="form-label">Nombre del Trámite *</label>
        <input 
            type="text" 
            class="form-input" 
            id="nombre" 
            name="nombre" 
            value="{{ tramite.name if tramite else '' }}"
            required
            maxlength="255">
    </div>
{% endblock %}